body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

button {
    width: 150px;
    height: 150px;
    margin: 0 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
}

button a {
    text-decoration: none;
    color: white;
}

button:nth-child(1) {
    background-color: #a100a7;
}

button:nth-child(2) {
    background-color: #68b21f;
}
